.aside1 {
  position: absolute;
  width: 576px;
  height: 1024px;
  left: 0px;
  top: 0px;
  background: #1e195b;
  margin: auto;
  padding-left: 30px;
}

.aside2 {
  position: absolute;
  width: 864px;
  height: 1024px;
  left: 576px;
  top: 0px;
  background: #f6f7f9;
}

.titulo {
  display: inline-flex;
}

.book1 {
  width: 90px;
  height: 96.7px;
  background: url(image/book.png);
}

#h1 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 0;
}

#h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  text-align: center;
  margin-top: 0;
}

.label {
  display: flex;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #ffffff;
}

.inputForm {
  padding-bottom: 5px;
  box-sizing: border-box;
  background: #ffffff;
  border: 4px solid #d9d9d9;
  border-radius: 16px;
  width: 80%;
}

#buttonSalvar {
  box-sizing: border-box;
  background: #def010;
  border: 2px solid #d9d9d9;
  border-radius: 64px;
  flex-direction: row;
  width: 200px;
  height: 30px;
  margin-top: 10px;
}

#buttonLimpar {
  box-sizing: border-box;
  background: #47c061;
  border: 2px solid #47c061;
  border-radius: 64px;
  flex-direction: row;
  width: 200px;
  height: 30px;
  margin-top: 10px;
}

#estatistica {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pEstatistica {
  width: 140px;
  height: 29px;
  margin: 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 27px;
  line-height: 29px;
  text-align: center;
  color: #442f2f;
}

.pResultadoEstatistica {
  width: 118px;
  height: 48px;
  margin: 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 550;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #442f2f;
}

.itemEstatistica {
  background: #ffffff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  margin: 5px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.pesquisa {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#pesquisa {
  box-sizing: border-box;
  width: 660px;
  height: 40px;
  background: #ffffff;
  border: 3px solid #1e195b;
  border-radius: 64px;
}

#buttonPesquisar {
  box-sizing: border-box;
  width: 50px;
  height: 40px;
  background: #ffffff;
  border: 3px solid #1e195b;
  border-radius: 64px;
  background: url(image/iconPesquisar.png) center;
  background-repeat: no-repeat;
  background-size: 50%;
}

#limparButton {
  box-sizing: border-box;
  width: 50px;
  height: 40px;
  background: #ffffff;
  border: 3px solid #1e195b;
  border-radius: 64px;
  background: url(image/iconLimpar.png) center;
  background-repeat: no-repeat;
  background-size: 50%;
}

#lista {
max-height: 70%;
overflow-y: auto;
}
.liLista {
  width: 802px;
  height: 382px;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  list-style-type: none; 
}

.h1Lista {
  width: 770px;
  height: 34px;
  left: 16px;
  top: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #000000;
}

.pLinguagem {
  width: 170px;
  height: 24px;
  left: 16px;
  top: 58px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000000;
  margin-left: 2%;
}

.pCategoria {
  width: 170px;
  height: 24px;
  left: 148px;
  top: 90px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000000;
  margin-left: 2%;
}

.pDescricao {
  height: 150px;
  left: 16px;
  right: 10px;
  top: 130px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  word-break: break-all;
  white-space: normal;
  color: #000000;
  margin-left: 2%;
  margin-right: 2%;
}

.divButton {
  display: flex;
  justify-content: right;
}

#buttonDeletar {
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border: 1px solid #000000;
  border-radius: 64px;
  background: url(image/iconLixeira.png) center;
  background-repeat: no-repeat;
  background-size: 50%;
  align-items: right;
  text-align: right;
  align-content: right;
}

#buttonEditar {
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border: 1px solid #000000;
  border-radius: 64px;
  background: url(image/iconEditar.png) center;
  background-repeat: no-repeat;
  background-size: 50%;
  align-items: right;
  text-align: right;
  align-content: right;
}

#buttonVideo {
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border: 1px solid #000000;
  border-radius: 64px;
  background: url(image/iconVideo.png) center;
  background-repeat: no-repeat;
  background-size: 50%;
  align-items: right;
  text-align: right;
  align-content: right;
}
